<html id="model-version" ng-controller="ModelCatalogVersionCtrl">

<head>
    <nav class="navbar ">
        <h1 align=center> Model: {{ model.models[0].name}} (ID:{{ model.models[0].id }})</h1>
        <h3 align=center> New version</h3>
    </nav>
</head>

<body>
    <nav>
        <button class="button-MC" ng-click="Context.modelCatalog_goToHomeView();">Home</button>&ensp;
    </nav>
    <br>
    <br>


    <form>
        <table>
            <tbody>
                </br>
                <tr>
                    <td>
                        <b>Version Name:</b>
                    </td>
                    <td>
                        <input type="text" ng-model="model_instance.version" required/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Parameters:</b>
                    </td>
                    <td>
                        <textarea class="scrollabletextbox" rows="5" cols="50" ng-model="model_instance.parameters"> </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Code Source:</b>
                    </td>
                    <td>
                        <input type="url" ng-model="model_instance.source" required/>
                    </td>
                </tr>
            </tbody>
        </table>
        <br> <br>
        <div class="navbar navbar-form">
            <button type="submit" class="btn btn-primary" ng-click=saveVersion()>Save</button>
        </div>
    </form>

</body>

</html>