<html id="model-detail">

<head>


</head>

<body>
    <br>
    <nav class="navbar ">

        <panel id="panel-permissions" class=permissions-panel>
            <table class="table-create text-centered">
                <thead>
                    <th>
                        <div align=center> Permissions </div>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div ng-if="is_collab_member == true"> Read and Write</div>
                            <div ng-if="is_collab_member == false"> Read only</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </panel>

        <h1 align=center> {{ model.models[0].name}}
        </h1>
        <h3 ng-if="model.models[0].owner && model.models[0].owner!=''" align=center> Owner: {{ model.models[0].owner }} </h3>
        <h3 align=center> Author(s): {{ model.models[0].author }} </h3>

    </nav>
    <nav>

        <button class="button-MC" ng-click="Context.modelCatalog_goToHomeView();">Home</button>&ensp;

        <a ng-href="#/model-catalog/edit/{{model.models[0].id}}" ng-if="is_collab_member == true" class="button-MC">Edit</a>&ensp;
        <a ng-href="#/model-catalog/version/{{model.models[0].id}}" class="button-MC">New version</a>&ensp;

    </nav>
    <br>
    <br>

    <br>
    <h4 style="margin-left:33%"> <b>Model Description</b> </h4>
    <br>



    <panel class=caracteristics-panel>
        <h4 align=center> <b>  Model information </b></h4>
        <br>
        <table class="table-create">
            <tbody>
                <tr>
                    <td>
                        <div ng-if="model.models[0].private == 1" class="glyphicon glyphicon-lock"> Private</div>
                        <div ng-if="model.models[0].private == 0" class="glyphicon glyphicon-book"> Public</div>
                    </td>
                </tr>
                <tr style="width: 15%">
                    <td> <b> ID: </b> {{model.models[0].id}} </td>
                </tr>
                <tr style="width: 15%">
                    <td> <b> Collab ID: </b> {{model.models[0].app.collab_id}} </td>
                </tr>
                <tr style="width: 15%" ng-if="model.models[0].alias && model.models[0].alias!=''  ">
                    <td> <b>Alias: </b> {{ model.models[0].alias}}</td>
                </tr>
                <tr style="width: 15%" ng-if="model.models[0].organization && model.models[0].organization!='' &&  model.models[0].organization!='<<empty>>'">
                    <td> <b> Organization: </b> {{ model.models[0].organization }} </td>
                </tr>
                <tr style="width: 15%" ng-if="model.models[0].project && model.models[0].project!=''">
                    <td> <b> Project: </b> {{ model.models[0].project }} </td>
                </tr>
                <tr style="width: 15%" ng-if="model.models[0].parameters && model.models[0].parameters!=''">
                    <td> <b> Parameters: </b> {{ model.models[0].parameters }} </td>
                </tr>
                <tr style="width: 15%" ng-if="model.models[0].license && model.models[0].license!=''">
                    <td> <b> License: </b> {{ model.models[0].license }} </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table-create">
            <tbody>
                <tr style="width: 15%" ng-if="model.models[0].species!=''">
                    <td><b> Species: </b> {{ model.models[0].species }} </tr>
                <tr style="width: 15%" ng-if="model.models[0].brain_region!=''">
                    <td> <b> Brain region: </b> {{ model.models[0].brain_region }}</td>
                </tr>
                <tr style="width: 15%" ng-if="model.models[0].model_scope!=''">
                    <td><b> Model scope: </b> {{ model.models[0].model_scope }} </td>
                </tr>
                <tr style="width: 15%" ng-if="model.models[0].abstraction_level!=''">
                    <td><b> Abstraction level: </b> {{ model.models[0].abstraction_level }} </td>
                </tr>
                <tr style="width: 15%" ng-if="model.models[0].cell_type!=''">
                    <td> <b> Cell type: </b> {{ model.models[0].cell_type }}</td>
                </tr>
            </tbody>
        </table>
    </panel>
    <br>
    <panel class=description-panel>

        <table class="table-create">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <!--<b> Description: </b> <br><br>-->
                    <div markdown="model.models[0].description" class="text-justify"></div>
                    <!--<div mathjax-bind="model.models[0].description" class="text-justify"></div>-->
                    <br><br>
                </tr>
                <tr>
                    <div class="group" ng-repeat="img in model.models[0].images track by $index">
                        <figure>
                            <button ng-click='toggleSize($index, img)'><img class=image id="image-$index"  ng-src="{{img.src}}"> </button>
                            <figcaption id=figcaptionDetail>{{img.caption}}</figcaption> <br>
                        </figure>
                    </div> &ensp;

                </tr>
            </tbody>
        </table>
    </panel>
    <br>
    <br>


    <panel class="panel-full-size">
        <br>
        <h4 style="margin-left:40%"> <b>Model Versions</b> </h4>
        <br>

        <div>
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Created on</th>
                </thead>
                <tbody data-ng-repeat="(index,model_instance) in model.models[0].instances" data-ng-switch on="DataCollapse[$index]">
                    <tr class="tr-clickable hover" title="Click to toggle collapse/expand an instance." data-ng-click="selectInstanceRow($index, model_instance.id)" ng-style="{'background-color':DataCollapse[$index] == true ?  '#f4f4f4': 'white'}">
                        <td>{{model_instance.version}}</td>
                        <td>{{model_instance.id}}</td>
                        <td>{{model_instance.timestamp | date:'dd/MM/yyyy, hh:mm' : 'UTC'}}</td>
                    </tr>
                    <tr class="expanded-tr" data-ng-switch-when="true">
                        <td colspan="9">
                            <div>
                                <div>
                                    <table class="table-version expanded-table">
                                        <tbody>
                                            <tr>
                                                <td>Description:</td>
                                                <td><pre style="width: 100%; overflow:hidden;"> <div class=div-no-overflow markdown=model_instance.description></div></pre></td>

                                            </tr>
                                            <tr>
                                                <td>Parameters:</td>
                                                <td><pre style="width:100%; overflow:hidden;"> <div class=div-no-overflow >{{model_instance.parameters}}</div></pre></td>

                                            </tr>
                                            <tr>

                                                <td>Morphology:</td>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td><pre style="width: 60vw; overflow:hidden;"> <div class=div-no-overflow-scroll > {{model_instance.morphology}}</div></pre></td>
                                                                <td style="width:5%"></td>
                                                                <td> <button ng-if="model_instance.morphology && model_instance.morphology != ''" type="submit" class="btn btn-primary" ng-click="Context.newTab_goToMorphologyViewer(model_instance, model.models[0].id)">View morphology</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td>Code format:</td>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td><pre style="width: 60vw; overflow:hidden;"> <div class=div-no-overflow-scroll > {{ model_instance.code_format }}</div></pre></td>
                                                                <td style="width:5%"></td>
                                                                <td style="width:5%"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td>Download location:</td>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td><pre style="width: 60vw; overflow:hidden;"> <div class=div-no-overflow-scroll > <a target=_blank href={{model_instance.source}}>{{ model_instance.source }}</a></div></pre></td>
                                                                <td style="width:5%"></td>
                                                                <td> <button ng-if="model_instance.source && isCscsContainer(model_instance.source)" type="submit" class="btn btn-primary" ng-click="Context.newTab_goToBlueNaaSViewer(model_instance)">Launch in BlueNaaS</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </br>
        </br>

        <div class=" w3-card-4  w3-hover-shadow ng-cloak" id="ImagePopupDetail">
            <style>
                .ng-cloak {
                    display: none !important;
                }
            </style>
            <div class="panel-heading"> <button id="close-button" type="button" class="glyphicon glyphicon-remove" ng-click="closeImagePanel()"></button></div>
            <div class="panel-body" class="imgwrapper">
                <figure id="ImagePopupDetailfig">
                    <img class="img-fluid img-responsive" id=ImagePopupIm ng-src={{bigImage.src}}>
                    <br>
                    <figcaption markdown="bigImage.caption"></figcaption>
                    <br>
                </figure>
            </div>
        </div>
</body>

</html>