<html id="model-create" ng-controller="ModelCatalogCreateCtrl">

<head>
    <nav class="navbar ">
        <h1 align=center> Create a new model</h1>
    </nav>
</head>

<body>
    <nav>
        <a class="button-MC" ng-href="#/model-catalog/" class="btn btn-primary">back </a>
    </nav>

    <br>
    <div>
        <form name=form-create class="simple-form">
            <h3> Model information </h3>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <table id="table-create">
                                <tbody>
                                    <tr>
                                        <td>
                                            <font color=red>*</font>
                                            <b>Name:</b>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="model.name" required/>
                                            <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: THis is the name of my model"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Alias:</b>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="model.alias" />
                                            <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: M#1"></a>
                                            <button type="button" ng-click=checkAliasValidity()> Check validity</button>
                                            <br>
                                            <span ng-show="alias_is_valid.is_valid==false" class="red-font">This alias already exists. Please choose another one. </span>
                                            <span ng-show="alias_is_valid.is_valid==true" class="green-font">This alias is valid!</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font color=red>*</font>
                                            <b>Author:</b>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="model.author" required/>
                                            <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: John Smith"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Private: </b>
                                        </td>
                                        <td>
                                            <label><input type="radio" ng-model="model.private" value="false"/>no</label> &emsp;
                                            <label><input type="radio" ng-model="model.private" value="true" />yes</label>
                                        </td>
                                    </tr>


                    </tr>
                    </tbody>
                    </table>
                    </td>
                    <td>
                        <table id="table-create">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Species:</b>
                                    </td>
                                    <td>
                                        <select id="select-species" data-style="btn-primary" ng-model="model.species" required>
                                         <option ng-repeat="s in species" value="{{s}}">{{s}}</option>
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Brain region: </b>
                                    </td>
                                    <td>
                                        <select id="select-brain-region" data-style="btn-primary" ng-model="model.brain_region" required>
                                         <option ng-repeat="br in brain_region" value="{{br}}">{{br}}</option>
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Cell type:</b>
                                    </td>
                                    <td>
                                        <select id="select-cell-type" data-style="btn-primary" ng-model="model.cell_type" required>
                                         <option ng-repeat="ct in cell_type" value="{{ct}}">{{ct}}</option>
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Model type:</b>
                                    </td>
                                    <td>
                                        <select id="select-model-type" data-style="btn-primary" ng-model="model.model_type" required>
                                         <option ng-repeat="mt in model_type" value="{{mt}}">{{mt}}</option>
                                    </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <b>Organization: </b>
                                    </td>
                                    <td>
                                        <select id="select-organization" data-style="btn-primary" ng-model="model.organization">
                                         <option ng-repeat="o in organization" value="{{o}}">{{o}}</option>
                                    </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tbody>
                                    <td>
                                        <font color=red>*</font>
                                        <b>Description:</b>
                                        <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: this model is a Integrate and fire model ..."></a><br /> <br>
                                        <textarea class="scrollabletextbox" rows="10" cols="80" ng-model="model.description" required></textarea>

                                    </td>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tbody>
                                    <td>
                                        <label> <button type="button" id="plusI" class="glyphicon glyphicon-paperclip" ng-click="displayAddImage()"></button> Attach a figure to the description</label>
                                    </td>
                                    <br/>
                                    <table>
                                        <tbody ng-repeat=" Image in model_image ">

                                            <td id=images>
                                                <button id=button-sup type="button" class="glyphicon glyphicon-remove" ng-click="deleteImage($index)"></button> {{Image.url}}
                                            </td>
                                        </tbody>
                                    </table>

                        </td>
                    </tr>
                    </tbody>
                    </table>

                    <br/>
                    <div ng-show=addImage class="w3-card-4  w3-hover-shadow ng-cloak" id="ImagePopup">
                        <div id=ImagePopupHead class="panel-heading"> <b>Add an image to the model description </b> <button id="close-button" type="button" class="glyphicon glyphicon-remove" ng-click="closeImagePanel()"></button></div>
                        <div class="panel-body">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Url:</b>
                                        </td>
                                        <td>
                                            <input type="url" ng-model="image.url" required></input>
                                            <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: http://linkToImage/image.jpg "></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Caption: </b>
                                        </td>
                                        <td>
                                            <textarea type="textarea" ng-model="image.caption"> </textarea>
                                            <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: Fig1: Integrate and Fire spike"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br> <br>
                            <div>
                                <button id=save-button type="button" class="btn btn-primary" ng-click="saveImage()">Save</button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h3> Add a version </h3>
                        <br>
                        <table>
                            <tbody>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <!--<font color=red>*</font>-->
                                                    <b>Version Name:</b>
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="model_instance.version" />
                                                    <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: version 1.0"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Description:</b>
                                                </td>
                                                <td>
                                                    <textarea class="scrollabletextbox" rows="5" cols="50" ng-model="model_instance.description"> </textarea>
                                                    <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example:"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <!--<font color=red>*</font>-->
                                                    <b>Code Source:</b>
                                                </td>
                                                <td>
                                                    <input type="url" ng-model="model_instance.source" />
                                                    <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: http://github.com"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Parameters:</b>
                                                </td>
                                                <td>
                                                    <textarea class="scrollabletextbox" rows="5" cols="50" ng-model="model_instance.parameters"> </textarea>
                                                    <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: Vrest = -70 mV"></a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tbody>

                        </table>

                    </div>
                    </br>
                    <div class="navbar navbar-form">
                        <button type="submit" class="btn btn-primary" ng-click=saveModel()>Save</button>
                    </div>
                    <div align=right>
                        <font color=red>* this field is required</font>
                    </div>
        </form>



</body>

</html>