<html id="model-version">

<head>
    <nav class="navbar ">
        <h1 align=center> {{ model.models[0].name}}</h1>
        <h3 align=center> New version</h3>
    </nav>
</head>

<body>
    <nav>
        <button class="button-MC" ng-click="Context.modelCatalog_goToHomeView();">Home</button>&ensp;
    </nav>
    <br>
    <br>


    <form>

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <font color=red>*</font>
                        <b>Version Name:</b>
                    </td>
                    <td>
                        <input type="text" ng-model="model_instance.version" required />
                        <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: version 1.0"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Description:</b>
                    </td>
                    <td>
                        <textarea class="scrollabletextbox" rows="5" cols="50" ng-model="model_instance.description"> </textarea>
                        <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example:"></a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <b>Parameters:</b>
                    </td>
                    <td>
                        <textarea class="scrollabletextbox" rows="5" cols="50" ng-model="model_instance.parameters"> </textarea>
                        <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: Vrest = -70 mV"></a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <b>Morphology:</b>
                    </td>
                    <td> <textarea class="scrollabletextbox" ng-model="model_instance.morphology" rows="3" cols="30"> </textarea></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <b>Download location:</b>
                    </td>
                    <td>
                        <input type="text" ng-model="model_instance.source" />
                        <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: http://github.com"></a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>

                        <b>Code format:</b>
                    </td>
                    <td>
                        <input type="text" ng-model="model_instance.code_format" />
                        <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Example: PyNN, Brian, Neuron..."></a>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <br> <br>
        <div class="navbar navbar-form">
            <button type="submit" class="btn btn-primary" ng-click=saveVersion()>Save</button>
        </div>
        <div align=right>
            <font color=red>* this field is required</font>
        </div>
    </form>

</body>

</html>