<html id="model-list">

<body>
    <nav class="navbar ">
        <div align=right> <button class=linkbutton type="button" ng-click="Context.modelCatalog_goToHelpView()"> Help </button> </div>
        <h1 align=center> Model Catalog</h1>
    </nav>

    <nav>
        <nav>
            <table class="table-create">
                <tr>

                    <td style="width: 5%">
                        <label>Select:</label>
                    </td>
                    <td>
                        <multiselect ng-model="selected_species" placeholder="species" options="collab_species" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_brain_region" placeholder="brain region" options="collab_brain_region" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_cell_type" placeholder="cell type" options="collab_cell_type" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_model_scope" placeholder="model scope" options="collab_model_scope" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_abstraction_level" placeholder="abstraction level" options="collab_abstraction_level" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_organization" placeholder="Select organization" options="collab_organization"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_privacy" placeholder="Select privacy" options="model_privacy" id-prop="value" display-prop="name"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_collab" placeholder="Select collab" options="collab_ids_to_select"></multiselect>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td style="width: 5%">
                        <label>Search:</label>
                    </td>
                    <td style="width: 25%">
                        <input id="search_model" ng-model='search.$' size=50>
                    </td>
                    <td style="width: 70%"></td>
                </tr>
            </table>

            <table>
                <tr>
                    <td style="width: 5%"><label>Sort:</label></td>
                    <td style="width: 15%">
                        <select id="sorting_option" placeholder="by time" class="form-control" ng-model="selected_sorting_option">
                        <option value="">by time</option>
                        <option value="-creation_date ">Newest first</option>
                        <option value="creation_date ">Oldest first</option>
                    </select>
                    </td>
                    <td style="width: 80%"></td>
                </tr>
            </table>
            </br>
            <a class="button-MC button-right " ng-href="#/model-catalog/create " ng-if="is_collab_member==true " class="btn btn-primary ">New model </a>
            <div class="pull-right text-warning" ng-if="isloading()"> ...data still loading...</div>
            </br>
            </br>
        </nav>
        <table class="table ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Alias</th>
                    <th>Species</th>
                    <th>Brain region</th>
                    <th>Cell type</th>
                    <th>Model scope</th>
                    <th>Abstraction level</th>
                    <th>Author(s)</th>
                    <th>Organization</th>
                    <th>Collab ID</th>
                    <th>Privacy</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-mousedown="Context.goToModelDetailView($event, model.id)" oncontextmenu="return false" class="tr-clickable " dir-paginate="model in models.models | filter:search | filterMultiple:{ organization:selected_organization, species:selected_species, brain_region:selected_brain_region , cell_type:selected_cell_type, model_scope:selected_model_scope, abstraction_level:selected_abstraction_level, private: selected_privacy, collab_id: selected_collab}
                        | orderBy: selected_sorting_option | itemsPerPage: itemsPerPages" pagination-id="models">

                    <td>{{ model.name}}</td>
                <td ng-text-truncate="model.alias" ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.alias }}</td>
                <td ng-text-truncate="model.species" ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.species }}</td>
                <td ng-text-truncate="model.brain_region" ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.brain_region }}</td>
                <td ng-text-truncate="model.cell_type" ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.cell_type }}</td>
                <td ng-text-truncate="model.model_scope" ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.model_scope }}</td>
                <td ng-text-truncate="model.abstraction_level" ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.abstraction_level }}</td>
                <td ng-text-truncate="formatAuthors(model.author)" ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ formatAuthors(model.author) }}</td>
                <td ng-text-truncate="model.organization" ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.organization }}</td>
                    <td>{{ model.app.collab_id }}</td>
                    <td>
                        <div ng-if="model.private == 1" class="glyphicon glyphicon-lock">Private</div>
                        <div ng-if="model.private == 0" class="glyphicon glyphicon-book">Public</div>
                    </td>
                </tr>
            </tbody>
        </table>

        <dir-pagination-controls pagination-id="models" class="pull-right"></dir-pagination-controls>
        <!--<dir-pagination-controls pagination-id="models" class="pull-right" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>-->

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
</body>


</html>