<html id="model-list" ng-controller="ModelCatalogCtrl">

<head>
    <nav class="navbar ">
        <h1 align=center> Model Catalog</h1>
    </nav>
</head>

<body>
    <nav>
        <table>
            <tr>
                <td>
                    <label> Search :  <input id="search_model"  ng-model='search.$'> </label>
                </td>

                <td>
                    <multiselect ng-model="selected_species" placeholder="Select species" options="collab_species"></multiselect>
                </td>
                <td>
                    <multiselect ng-model="selected_brain_region" placeholder="Select brain region" options="collab_brain_region"></multiselect>
                </td>
                <td>
                    <multiselect ng-model="selected_cell_type" placeholder="Select cell type" options="collab_cell_type"></multiselect>
                </td>
                <td>
                    <multiselect ng-model="selected_model_type" placeholder="Select model type" options="collab_model_type"></multiselect>
                </td>
                <td><a class="button-MC" ng-href="#/model-catalog/create" ng-if="is_collab_member == true" class="btn btn-primary">New model </a></td>
            </tr>
        </table>
        <br>

    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Species</th>
                <th>Brain region</th>
                <th>Cell type</th>
                <th>Model type</th>
                <th>Author(s)</th>
                <th>Collab ID</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-clickable" ng-repeat="model in models.models |  filter:search | filterMultiple:{ species:selected_species, brain_region:selected_brain_region , cell_type:selected_cell_type, model_type:selected_model_type}" ng-click="Context.modelCatalog_goToModelDetailView(model.id)">
                <td>{{ model.name}}</td>
                <td ng-text-truncate=model.alias ng-tt-chars-threshold="50" ng-tt-no-toggling>{{ model.alias }}</td>
                <td ng-text-truncate=model.species ng-tt-chars-threshold="50" ng-tt-no-toggling>{{ model.species }}</td>
                <td ng-text-truncate=model.brain_region ng-tt-chars-threshold="50" ng-tt-no-toggling>{{ model.brain_region }}</td>
                <td ng-text-truncate=model.cell_type ng-tt-chars-threshold="50" ng-tt-no-toggling>{{ model.cell_type }}</td>
                <td ng-text-truncate=model.model_type ng-tt-chars-threshold="50" ng-tt-no-toggling>{{ model.model_type }}</td>
                <td ng-text-truncate=model.author ng-tt-chars-threshold="50" ng-tt-no-toggling>{{ model.author }}</td>
                <td ng-text-truncate=model.app.collab_id ng-tt-chars-threshold="50" ng-tt-no-toggling>{{ model.app.collab_id }}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>