<div ng-app="testApp">

<!-- Binding declaratif -->
<div class="inbox" ng-controller="SpeciesCtrl">
      <thead>
        <tbody>


            <tr> 
                <td> 
            <ul ng-repeat="message in species.messages">
                Species :
                   <select>   
                       <option value=""> {{ message.mouse }} </option>
                       <option value=""> {{ message.rat }} </option>
                       <option value=""> {{ message.marmoset }} </option>
                       <option value=""> {{ message.human }} </option>
                       <option value=""> {{ message.paxinos }} </option>
                       <option value=""> {{ message.opossum }} </option>
                       <option value=""> {{ message.other }} </option>
                   </select>
            </ul>
                </td>
              </tr>



           <tr> 
                <td> 
            <ul ng-repeat="message in species.messages2">
                Brain region :
                   <select>   
                       <option value=""> {{ message.basalganglia }} </option>
                       <option value=""> {{ message.cerebellum }} </option>
                       <option value=""> {{ message.cortex }} </option>
                       <option value=""> {{ message.hippocampus }} </option>
                       <option value=""> {{ message.other }} </option>
                   </select>
            </ul>
                </td>
              </tr>



          <tr> 
                <td> 
            <ul ng-repeat="message in species.messages3">
                Cell type :
                   <select>   
                       <option value=""> {{ message.granulecell }} </option>
                       <option value=""> {{ message.interneuron }} </option>
                       <option value=""> {{ message.pyramidalcell }} </option>
                       <option value=""> {{ message.other }} </option>
                   </select>
            </ul>
                </td>
              </tr>



           <tr> 
                <td> 
            <ul ng-repeat="message in species.messages4">
                Model type :
                   <select>   
                       <option value=""> {{ message.singlecell }} </option>
                       <option value=""> {{ message.network }} </option>
                       <option value=""> {{ message.meanfield }} </option>          
                       <option value=""> {{ message.other }} </option>
                   </select>
            </ul> 
                </td>
              </tr>




        </tbody>
     </thread>
 </div>



    <div class="navbar navbar-form">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>

</div>




