<div ng-app="testApp">



    <div ng-controller="ConfigCtrl">

        <h3>Selectors</h3>
        </br>
        <table>

            <tr>
                <td><label>Data modalities : </label></td>
                <td style="width: 150px">
                    <select multiple="multiple" ng-model="selected_data_modalities" ng-options="element.authorized_value for element in list_param.data_modalities "></select>
                </td>


                <td><label>Test type : </label></td>
                <td style="width: 150px">
                    <select multiple="multiple" ng-model="selected_test_type" ng-options="element.authorized_value  for element in list_param.test_type "></select>
                </td>

                <td><label>Model type : </label></td>
                <td style="width: 150px">
                    <select multiple="multiple" ng-model="selected_model_type" ng-options="element.authorized_value for element in list_param.model_type "></select>
                </td>

            </tr>
        </table>
        </br>
        </br>
        </br>
        <table>
            <tr>

                <td><label>Species: </label></td>
                <td style="width: 150px">
                    <select multiple="multiple" ng-model="selected_species" ng-options="element.authorized_value  for element in list_param.species "></select>
                </td>


                <td><label>Brain region : </label></td>
                <td style="width: 150px">
                    <select multiple="multiple" ng-model="selected_brain_region" ng-options="element.authorized_value for element in list_param.brain_region "></select>
                </td>


                <td><label>Cell type : </label></td>
                <td style="width: 150px">
                    <select multiple="multiple" ng-model="selected_cell_type" ng-options="element.authorized_value for element in list_param.cell_type "></select>
                </td>
            </tr>

        </table>




        </br>
        </br>
        </br>
        </br>
        </br>
        <h3>Selections</h3>
        </br>
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Data modalities</th>
                    <th>Test type</th>
                    <th>Model type</th>
                </tr>

            </thead>
            <tbody>
                <td>
                    <table class="table table-striped">
                        <thead></thead>

                        <tbody>
                            <tr ng-repeat="(key, value) in selected_data_modalities">
                                <td>{{value.authorized_value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <td>
                    <table class="table table-striped">
                        <thead></thead>

                        <tbody>
                            <tr ng-repeat="(key, value) in selected_test_type">
                                <td>{{value.authorized_value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <td>
                    <table class="table table-striped">
                        <thead></thead>

                        <tbody>
                            <tr ng-repeat="(key, value) in selected_model_type">
                                <td>{{value.authorized_value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tbody>
        </table>
        </br>





        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Species</th>
                    <th>Brain region</th>
                    <th>Cell type</th>
                </tr>

            </thead>
            <tbody>
                <td>
                    <table class="table table-striped">
                        <thead></thead>

                        <tbody>
                            <tr ng-repeat="(key, value) in selected_species">
                                <td>{{value.authorized_value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <td>
                    <table class="table table-striped">
                        <thead></thead>

                        <tbody>
                            <tr ng-repeat="(key, value) in selected_brain_region">
                                <td>{{value.authorized_value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <td>
                    <table class="table table-striped">
                        <thead></thead>

                        <tbody>
                            <tr ng-repeat="(key, value) in selected_cell_type">
                                <td>{{value.authorized_value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tbody>
        </table>




        </br>
        <table>
            <tr>
                <td>
                    <button ng-click="reloadPage();">Reset</button>
                </td>
                <td>
                    <button ng-click="make_post();">Save</button>
                </td>
            </tr>

        </table>

    </div>



</div>