<div ng-app="testApp">


<div ng-controller="SpeciesCtrl2">
<tr>
      <label> Species :  </label>
  <select ng-options="message for message in species2.messages" ng-model="species2.message"></select>
</tr>
<br/>
<tr>
      <label> Brain region :  </label>
  <select ng-options="message2 for message2 in species2.messages2" ng-model="species2.message2"></select>
</tr>
<br/>
<tr>
      <label> Cell type :  </label>
  <select ng-options="message3 for message3 in species2.messages3" ng-model="species2.message3"></select>
</tr>
<br/>
<tr>
      <label> Model type :  </label>
  <select ng-options="message4 for message4 in species2.messages4" ng-model="species2.message4"></select>
</tr>

<br/>
<br/>


    <p> Selected species : {{ species2.message }}</p>
    <p> Selected brain region : {{ species2.message2 }}</p>
    <p> Selected cell type : {{ species2.message3 }}</p>
    <p> Selected model type : {{ species2.message4 }}</p>

  
</div>




