<body id="notebooks" ng-controller="HomeCtrl">

    <h1> Home validation </h1>

    <label> Search :  <input id="search_model"  ng-model='search.$'> </label>

    <table class="table" style="border-top: none;">
        <td>

            <table id="model_table" class="table table-striped">

                <h3> Models </h3>

                <thead>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Brain region</th>
                    <th>Cell type</th>
                    <th>Code location</th>
                    <th>Author(s)</th>
                </thead>

                <tbody>
                    <tr id="test1" ng-repeat="model in models.models | filter: search">
                        <td><a href="model{{model.pk}}">{{ model.name }}</a></td>
                        <td>{{ model.species }}</td>
                        <td>{{ model.brain_region }}</td>
                        <td>{{ model.cell_type }}</td>
                        <!--<td>{{ model.fields.source|urlizetrunc:50 }}</td>-->
                        <td></td>
                        <td>{{ model.author }}</td>
                    </tr>
                </tbody>
            </table>
        </td>

        <td>
            <table id="test_table" class="table table-striped">

                <h3> Tests </h3>

                <thead>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Age</th>
                    <th>Brain region</th>
                    <th>Cell type</th>
                    <th>Data location</th>
                    <th>Data type</th>
                    <th>Data modality</th>
                    <th>Test type</th>
                    <th>Code location</th>
                    <th>Author</th>
                    <th>Publication</th>
                </thead>

                <tbody>

                    <tr classe="tr-clickable" ng-repeat="test in tests.tests | filter:search" ng-click="goToTestDetailView(test)">
                        <td>{{ test.name }}</td>
                        <td>{{ test.species }}</td>
                        <td>{{ test.age }}</td>
                        <td>{{ test.brain_region }}</td>

                        <td>{{ test.cell_type }}</td>
                        <td>{{ test.data_location }}</td>

                        <td>{{ test.data_type }}</td>
                        <td>{{ test.data_modality }}</td>
                        <td>{{ test.test_type }}</td>
                        <td>{{ test.get_latest_code.repository}}</td>
                        <td>{{ test.author }}</td>
                        <td>{{ test.publication }}</td>
                    </tr>

                </tbody>
            </table>
        </td>
    </table>

</body>