/* Inter Regular */
@font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("https://ebrains.netlify.com/fonts/Inter-Regular.woff2")
            format("woff2"),
        url("https://ebrains.netlify.com/fonts/Inter-Regular.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
}

/* Inter Regular Italic */
@font-face {
    font-family: "Inter-Italic";
    font-display: swap;
    src: url("https://ebrains.netlify.com/fonts/Inter-Italic.woff2")
            format("woff2"),
        url("https://ebrains.netlify.com/fonts/Inter-Italic.woff")
            format("woff");
    font-weight: 400;
    font-style: italic;
}

/* Inter Bold */
@font-face {
    font-family: "Inter-Bold";
    font-display: swap;
    src: url("https://ebrains.netlify.com/fonts/Inter-Bold.woff2")
            format("woff2"),
        url("https://ebrains.netlify.com/fonts/Inter-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Inter Bold Italic */
@font-face {
    font-family: "Inter-Bolditalic";
    font-display: swap;
    src: url("https://ebrains.netlify.com/fonts/Inter-Bolditalic.woff2")
            format("woff2"),
        url("https://ebrains.netlify.com/fonts/Inter-Bolditalic.woff")
            format("woff");
    font-weight: 700;
    font-style: italic;
}

:root {
    --light-gray: #f5f5f5;
    --dark-gray: #222;
    --gray-1: #333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --gray-4: #bdbdbd;
    --gray-5: #e0e0e0;
    --gray-6: #f2f2f2;
    --light-text: var(--gray-3);
    --border-color: var(--gray-5);
    --font-stack: "Inter", "Helvetica Neue", Arial, sans-serif;
    --font-stack-bold: "Inter-Bold", "Helvetica Neue", Arial, sans-serif;
    --font-size: 21px;
    --line-height: 32px;
    --font-size-small: 14px;
    --line-height-small: 22px;
    --regular: 400;
    --bold: 700;
    --content-width: 1024px;
    --site-margin: 42px;
    --site-margin-mobile: 12px;
    --spacing: 32px;
    --shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.2);
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
    font-family: var(--font-stack);
    font-weight: var(--regular);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--dark-gray);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.line:after {
    position: absolute;
    content: "";
    left: auto;
    right: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.line.reverse:after,
.line:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}

.line.reverse:hover:after {
    left: auto;
    right: 0;
    width: 0;
}

.app-links li {
    display: inline-block;
    position: relative;
    margin: 0 25px;
}

.app-links li a {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 2px !important;
    font-size: 18px;
    color: var(--gray-1) !important;
}

.logo svg {
    color: black;
}

ul.app-links {
    list-style: none;
}

h5 {
    margin-bottom: 0;
    font-weight: 700;
}

h4 {
    font-weight: 500;
    font-size: 1.3em;
    margin-top: 1.1em;
}

h1 {
    font-weight: 700;
}
.section {
    border-bottom: 1px solid var(--border-color);
}

main {
    position: relative;
    z-index: 20;
    width: 100%;
    background-color: white;
    margin-bottom: 250px;
}

.site-footer {
    text-align: left;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    min-height: 200px;
    padding: 20px var(--site-margin) 0;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    color: var(--light-text);
}

.footer__end ul {
    list-style: none;
}

.site-footer .footer__content {
    margin-bottom: auto;
}

.site-footer .footer__content .logo {
    color: var(--dark-gray);
}

.site-footer .footer__content p {
    margin-top: 40px;
    max-width: 320px;
}

.site-footer .footer__end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
}

.site-footer .footer__end .footer__social {
    display: flex;
}

.site-footer .footer__end .footer__social li {
    margin: 0 8px;
}

.site-footer .footer__end .footer__social li a:hover {
    color: var(--dark-gray);
}

@media (max-width: 768px) {
    .site-footer .footer__end {
        flex-wrap: wrap;
        justify-content: center;
        flex-flow: column-reverse;
        line-height: 50px;
    }

    .credits {
        max-width: 100px;
    }
}

.sprite-icons {
    width: 40px;
    height: 40px;
}

.app-links li.nuxt-link-active:after {
    width: 100%;
}
main {
    box-shadow: 0 10px 20px 0 rgba(55, 55, 55, 0.1);
}

.footer__social a {
    color: rgb(130, 130, 130);
}

.eu-logo {
    height: 40px;
    width: auto !important;
    float: right;
}
