{% extends 'base.html' %} {% load markup %} {% load jsonify %} {% block content %}

<h1>Create new Test</h1>
<p><a href=".">back</a></p>

</br>
<h3>About test definition</h3>
<form action="" class="scientific-test-form" method="POST">
    <table class="table table-striped table-condensed">
        {% csrf_token %} {{ form.non_field_errors }}
        <tbody>

            <tr>
                <td>
                    {{ form.name.label_tag }}
                </td>
                <td>
                    {{ form.name }}
                    <p class="help-text">{{ form.name.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.author.label_tag }}
                </td>
                <td>
                    {{form.author}}
                    <p class="help-text">{{ form.author.errors }}</p>
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.publication.label_tag }}
                </td>
                <td>
                    {{form.publication}}
                    <p class="help-text">{{ form.publication.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.protocol.label_tag }}
                </td>
                <td>
                    {{form.protocol}}
                    <p class="help-text">{{ form.protocol.errors }}</p>
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.species.label_tag }}
                </td>
                <td>
                    {{ form.species }}
                    <p class="help-text">{{ form.species.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.brain_region.label_tag }}
                </td>
                <td>
                    {{form.brain_region}}
                    <p class="help-text">{{ form.brain_region.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.cell_type.label_tag }}
                </td>
                <td>
                    {{form.cell_type}}
                    <p class="help-text">{{ form.cell_type.errors }}</p>
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.age.label_tag }}
                </td>
                <td>
                    {{form.age}}
                    <p class="help-text">{{ form.age.errors }}</p>
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.data_location.label_tag }}
                </td>
                <td>
                    {{ form.data_location }}
                    <p class="help-text">{{ form.data_location.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.data_type.label_tag }}
                </td>
                <td>
                    {{form.data_type}}
                    <p class="help-text">{{ form.data_type.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.data_modality.label_tag }}
                </td>
                <td>
                    {{form.data_modality}}
                    <p class="help-text">{{ form.data_modality.errors }}</p>
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.test_type.label_tag }}
                </td>
                <td>
                    {{form.test_type}}
                    <p class="help-text">{{ form.test_type.errors }}</p>
                </td>
            </tr>

        </tbody>
    </table>


    <br/>
    <h3>About test code</h3>

    <table class="table table-striped table-condensed">
        {% csrf_token %} {{ form.non_field_errors }}
        <tbody>

            <tr>
                <td>
                    {{ formcode.repository.label_tag }}
                </td>
                <td>
                    {{ formcode.repository }}
                    <p class="help-text">{{ formcode.repository.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ formcode.path.label_tag }}
                </td>
                <td>
                    {{ formcode.path }}
                    <p class="help-text">{{ formcode.path.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ formcode.version.label_tag }}
                </td>
                <td>
                    {{ formcode.version }}
                    <p class="help-text">{{ formcode.version.errors }}</p>
                </td>
            </tr>

        </tbody>
    </table>

    <br/>
    <div class="navbar navbar-form ">
        <!--<button type="submit " class="btn btn-primary " >Save</button>    #on-submit=view.redirect()-->
        <button type="submit " class="btn btn-primary ">Save</button>
    </div>






</form>






{% endblock %}