Django>=1.9
pytz
django-sslserver  # dev only
#social-auth-app-django
python-social-auth
markdown
-e packages/task-types-0.0.10
-e packages/bbp-services-0.0.15
-e packages/bbp-client-0.4.4
-e packages/hbp-app-python-auth-0.1.5
-e packages/neural-activity-resource-master