.app {
    margin-left: 20px;
    margin-right: 20px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nopadding-left {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

#conteneur {
    display: flex;
}

.element-left {
    width: 45%;
    min-height: 500px;
    margin-right: 2%;
    text-overflow: scroll;
}

.element-middle {
    background-color: darkgray;
    width: 2px;
    margin-right: 1%;
    margin-left: 1%;
}

.element-right {
    width: 45%;
    margin-left: 2%;
    text-overflow: scroll;
}

#VF-model-detail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 200px;
}

#VF-model-table-all-data {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 200px;
    text-overflow: scroll;
}

#trunc {
    display: inline-block;
    word-wrap: normal;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*padding: 1%;*/
}