#abc {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: white;
    border-color: grey;
    overflow: auto;
}

div#popupContact {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: 'Raleway', sans-serif
}