    #ImagePopup {
        position: fixed;
        left: 25%;
        top: 25%;
        border: 2px solid #b3cdd8;
        border-radius: 4px;
        background-color: white;
    }
    
    #ImagePopupDetail {
        position: fixed;
        top: 50px;
        margin-right: auto;
        margin-left: auto;
        left: 10px;
        right: 10px;
        border: 2px solid #b3cdd8;
        border-radius: 4px;
        background-color: white;
        max-width: 800px;
        max-height: 600px;
        overflow: scroll;
    }
    
    #ImagePopupIm {
        object-fit: contain;
    }
    
    #ImagePopupHead {
        background-color: #e1ebf0;
    }
    
    .button-MC {
        padding: 2px 10px;
        cursor: pointer;
        background-color: #85afc1;
        border: 2px solid #85afc1;
        color: white;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        outline: none;
        border-radius: 6px;
    }
    
    .button-MC:hover {
        background-color: #74a4b8;
        color: white;
    }
    
    .button-MC:active {
        background-color: #74a4b8;
        transform: translateY(1px);
    }
    
    .button-right {
        position: absolute;
        right: 10%;
    }
    
    #close-button {
        position: absolute;
        top: 2px;
        right: 2px;
    }
    
    #button-sup {
        border: none;
        background-color: white;
    }
    
    #save-button {
        position: absolute;
        bottom: 4px;
        right: 15px;
    }
    
    #table-create {
        border-bottom-color: white;
        border-color: white;
    }
    
    #table-test-detail {
        border-bottom-color: white;
        border-color: white;
        padding: 10px;
    }
    
    .glyphicon-question-sign {
        color: #bad1db;
    }
    
    .glyphicon-question-sign:hover {
        color: #97bbca;
    }
    
    table {
        padding: 5px;
    }
    
    .tr-clickable:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
    
    th,
    td,
    tr {
        padding: 5px;
        padding-right: 25px;
    }
    
    #test-table>th,
    td,
    tr {
        padding: 5px;
        padding-right: 0px;
    }
    
    #images {
        white-space: nowrap;
        min-width: 0px;
        width: 500px;
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .image {
        min-width: 0px;
        width: 100%;
        max-width: 304px;
        max-height: 350px;
    }
    
    #figcaption {
        word-break: break-all;
        width: 500px;
        min-width: 0px;
        max-width: 500px;
    }
    
    .group {
        display: inline-block;
        padding: 20px;
    }
    
    #figcaptionDetail {
        padding-left: 4px;
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .nav-perso {
        margin: 0 auto;
        width: 100%;
        border-bottom: 2px solid #3d6576;
    }
    
    .nav-perso a {
        display: block;
        text-decoration: none;
    }
    
    .nav-perso>li {
        float: left;
        margin-right: 0.3%;
        margin-bottom: 0px;
        text-align: center;
        width: 24.70%;
    }
    
    .nav-perso>li>a {
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
        background: #85afc1;
        border-radius: 3px 3px 0 0;
        background-image: -webkit-linear-gradient(top, #9cb6c5, #85afc1);
        background-image: -moz-linear-gradient(top, #9cb6c5, #85afc1);
        background-image: linear-gradient(to bottom, #9cb6c5, #85afc1);
    }
    
    .nav-perso>li>a:hover {
        text-decoration: none;
        background: #74a4b8;
        background-image: -webkit-linear-gradient(top, #afc5d1, #74a4b8);
        background-image: -moz-linear-gradient(top, #afc5d1, #74a4b8);
    }
    
    .nav-perso>li.active>a,
    .nav-perso>li>a:active {
        background: #3d6576;
        color: white;
        text-shadow: none;
    }
    
    .nav-perso>li.active>a:hover,
    .nav-perso>li>a:active:hover {
        background: #3d6576;
        color: white;
        text-shadow: none;
    }
    
    .nav-perso a.icon {
        position: relative;
        width: 40.8px;
        padding: 0;
    }
    
    .nav-perso a.icon>span {
        display: block;
        position: absolute;
        top: 9px;
        left: 12px;
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-position: 0 0;
        text-shadow: none;
        color: transparent;
    }
    
    .nav-perso .active a.icon>span,
    .nav-perso a.icon:active>span {
        background-position: 0 -16px;
    }
    
    .nav-tabs>li {
        float: left;
        margin-bottom: -1px;
    }
    
    .nav-tabs>li>a {
        margin-right: 2px;
        line-height: 1.25;
        border: 1px solid transparent;
        border-radius: 0 0 0 0;
    }
    
    .caracteristics-panel {
        height: 350px;
        width: 320px;
        padding: 5px;
        border: 2px solid #dfe7ef;
        float: right;
        margin-right: 1%;
        margin-left: 2%;
        margin-bottom: 1%;
        margin-top: 1%;
        overflow: auto;
    }
    
    .text-justify {
        text-align: justify;
        text-justify: inter-word;
    }