<div ng-controller="HomeCtrl">

    <nav class="navbar">
        <br>
        <button class="button-MC" ng-click="Context.validation_goToHomeView();">Home</button>&ensp;

        <h1 align=center> Validation Framework </h1>
    </nav>


    <header>
        <nav>
            <table class="table-create">
                <tr>
                    <td>
                        <label> Search :  <input id="search_model"  ng-model='search.$'> </label>
                    </td>

                    <td>
                        <multiselect ng-model="selected_species" placeholder="Select species" options="collab_species" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_brain_region" placeholder="Select brain region" options="collab_brain_region" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_cell_type" placeholder="Select cell type" options="collab_cell_type" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_model_type" placeholder="Select model type" options="collab_model_type" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_data_modalities" placeholder="Select data modality" options="collab_data_modalities" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_test_type" placeholder="Select test type" options="collab_test_type" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                </tr>
            </table>
            <br>
            <div align=right> <button class="button-MC" ng-click="Context.validation_goToTestCatalogView()">Go to Test catalog</button></div>
            <br>
            <br>
        </nav>
    </header>

    <body>
        <div id="conteneur">

            <div class="element-left">

                <table class="table-create table" id=test-table>
                    <thead>
                        <h3 align=center> Models</h3>
                        <th>Name/Alias</th>
                        <th>ID</th>
                        <th>Author</th>
                    </thead>
                    <br>
                    <tr class=tr-clickable id="test1" ng-repeat="model in models.models | filter: search | filterMultiple:{species:selected_species, brain_region:selected_brain_region, cell_type:selected_cell_type, model_type:selected_model_type}" ng-click="Context.validation_goToModelDetailView(model.id)">
                        <td ng-if=!(model.alias)> {{model.name}} </td>
                        <td ng-if=model.alias> {{model.alias}} </td>
                        <td>{{model.id}}</td>
                        <td>{{model.author}}</td>
                        <br>
                    </tr>
                </table>
            </div>
            <div class="element-middle"></div>
            <div class="element-right">
                <table class="table-create table" id=test-table>
                    <thead>
                        <h3 align=center> Tests</h3>
                        <th>Name/Alias</th>
                        <th>ID</th>
                        <th>Author</th>
                    </thead>
                    <br>

                    <tr class="tr-clickable" ng-repeat="test in tests.tests | filter:search | filterMultiple:{species:selected_species, brain_region:selected_brain_region, cell_type:selected_cell_type, model_type:selected_model_type}" ng-click="Context.validation_goToTestDetailView(test.id)">

                        <td ng-if=!(test.alias)> {{test.name}} </td>
                        <td ng-if=test.alias> {{test.alias}} </td>
                        <td> {{test.id}}</td>
                        <td>{{test.author}}</td>
                        <br>
                    </tr>
                </table>
            </div>

        </div>
    </body>

</div>