<div ng-controller="HomeCtrl">

    <nav class="navbar">
        <br>
        <button class="button-MC" ng-click="Context.validation_goToHomeView();">Home</button>&ensp;

        <h1 align=center> Validation Framework </h1>
    </nav>


    <header>
        <nav>
            <table class="table-create">
                <tr>
                    <td>
                        <label> Search :  <input id="search_model"  ng-model='search.$'> </label>
                    </td>

                    <td>
                        <multiselect ng-model="selected_species" placeholder="Select species" options="collab_species" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_brain_region" placeholder="Select brain region" options="collab_brain_region" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_cell_type" placeholder="Select cell type" options="collab_cell_type" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_model_type" placeholder="Select model type" options="collab_model_type" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_data_modalities" placeholder="Select data modality" options="collab_data_modalities" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_test_type" placeholder="Select test type" options="collab_test_type" show-search="true" show-select-all="true" show-unselect-all="true"></multiselect>
                    </td>
                    <td>
                        <multiselect ng-model="selected_organization" placeholder="Select organization" options="collab_organization"></multiselect>
                    </td>

                    <td>
                        <select id="sorting_option" placeholder="Sorting options" class="form-control" ng-model="selected_sorting_option">
                        <option value="">Sorting options</option>
                        <option value="-creation_date ">Sorting: Newest first</option>
                        <option value="creation_date ">Sorting: Oldest first</option>
                    </select>
                    </td>

                </tr>
            </table>
            <br>
            <div align=right> <button class="button-MC" ng-click="Context.validation_goToTestCatalogView()">Go to Test catalog</button></div>
            <br>
            <br>
        </nav>
    </header>

    <body>
        <div id="conteneur">

            <div class="element-left">

                <table class="table-create table" id=test-table>
                    <thead>
                        <h3 align=center> Models</h3>
                        <th>Name/Alias</th>
                        <th>ID</th>
                        <th>Author</th>
                    </thead>
                    <br>
                    <tr class=tr-clickable id="test1" ng-repeat="model in models.models | filter: search | filterMultiple:{organization:selected_organization, species:selected_species, brain_region:selected_brain_region, cell_type:selected_cell_type, model_type:selected_model_type} | orderBy: selected_sorting_option"
                        ng-click="Context.validation_goToModelDetailView(model.id)">
                        <td ng-if=!(model.alias) ng-text-truncate=model.name ng-tt-chars-threshold="20" ng-tt-no-toggling> {{model.name}} </td>
                        <td ng-if=model.alias ng-text-truncate=model.alias ng-tt-chars-threshold="20" ng-tt-no-toggling> {{model.alias}} </td>
                        <td ng-text-truncate=model.id ng-tt-chars-threshold="40" ng-tt-no-toggling>{{model.id}}</td>
                        <td ng-text-truncate=model.author ng-tt-chars-threshold="20" ng-tt-no-toggling>{{model.author}}</td>
                        <br>
                    </tr>
                </table>
            </div>
            <div class="element-middle"></div>
            <div class="element-right">
                <table class="table-create table" id=test-table>
                    <thead>
                        <h3 align=center> Tests</h3>
                        <th>Name/Alias</th>
                        <th>ID</th>
                        <th>Author</th>
                    </thead>
                    <br>

                    <tr class="tr-clickable" ng-repeat="test in tests.tests | filter:search | filterMultiple:{species:selected_species, brain_region:selected_brain_region, cell_type:selected_cell_type, model_type:selected_model_type} | orderBy: selected_sorting_option" ng-click="Context.validation_goToTestDetailView(test.id)">

                        <td ng-if=!(test.alias) ng-text-truncate=test.name ng-tt-chars-threshold="20" ng-tt-no-toggling> {{test.name}} </td>
                        <td ng-if=test.alias ng-text-truncate=test.alias ng-tt-chars-threshold="20" ng-tt-no-toggling> {{test.alias}} </td>
                        <td ng-text-truncate=test.id ng-tt-chars-threshold="40" ng-tt-no-toggling> {{test.id}}</td>
                        <td ng-text-truncate=test.author ng-tt-chars-threshold="20" ng-tt-no-toggling>{{test.author}}</td>
                        <br>
                    </tr>
                </table>
            </div>

        </div>
    </body>

</div>