<html id="model-detail" ng-controller="ValModelDetailCtrl">

<body>

    <header>
        <nav class="navbar ">
            <br>

            <button class="button-MC" ng-click="Context.validation_goToHomeView();">Home</button>&ensp;

            <h1 align=center>{{ model.models[0].name}}</h1>
            <h3 align=center> Author(s): {{ model.models[0].author }}</h3>
        </nav>
    </header>

    <br>
    <div id=VF-model-detail>
        <panel class=caracteristics-panel-validation>
            <h4 align=center> <b>  Model information </b></h4>
            <br>
            <table class="table-create">
                <tbody>
                    <tr style="width: 15%">
                        <td> <b> ID: </b> {{model.models[0].id}} </td>
                    </tr>
                    <tr style="width: 15%" ng-if="model.models[0].alias && model.models[0].alias!=''">
                        <td> <b>Alias: </b> {{ model.models[0].alias}}</td>
                    </tr>
                    <tr style="width: 15%" ng-if="model.models[0].organization!=''">
                        <td> <b> Organization: </b> {{ model.models[0].organization }} </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table-create">
                <tbody>
                    <tr style="width: 15%" ng-if="model.models[0].species!=''">
                        <td><b> Species: </b> {{ model.models[0].species }} </tr>
                    <tr style="width: 15%" ng-if="model.models[0].brain_region!=''">
                        <td> <b> Brain region: </b> {{ model.models[0].brain_region }}</td>
                    </tr>
                    <tr style="width: 15%" ng-if="model.models[0].model_type!=''">
                        <td><b> Model type: </b> {{ model.models[0].model_type }} </td>
                    </tr>
                    <tr style="width: 15%" ng-if="model.models[0].cell_type!=''">
                        <td> <b> Cell type: </b> {{ model.models[0].cell_type }}</td>
                    </tr>
                </tbody>
            </table>
        </panel>

        <panel class=description-panel-validation>
            <h4 align=center> <b>Model Description</b> </h4>
            <br>
            <table class="table-create">
                <tbody>
                    <tr>
                        <div markdown="model.models[0].description" ng-text-truncate="model.models[0].description" ng-tt-words-threshold="100" ng-tt-no-toggling></div>
                        <button class=linkbutton align=right text-align=right type="button" ng-click="Context.validation_goToModelCatalog(model.models[0])"> (more details on model catalog)</button>
                        <br><br>
                    </tr>
                </tbody>
            </table>
        </panel>
    </div>

    <br>
    <br>
    <div id='panel-no-results' ng-if="init_graph.values.length == 0">
        <h3 align=center> No result available for this model </h3>
    </div>
    <div id=panel-results ng-if="init_graph.values.length != 0">
        <h4 align=center> <b>  Results </b></h4>
        <br>
        <div id=VF-model-table-all-data>
            <table class="table">
                <thead>
                    <th>
                        test id | model version
                    </th>
                    <th ng-repeat="version in model.models[0].instances">
                        {{version.version}}
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="test in init_graph.values">
                        <td class=tr-clickable ng-click=Context.validation_goToTestDetailView(test.test_id)>test #{{test.key}} </td>
                        <td class=tr-clickable ng-click=Context.validation_goToResultDetailView(version.id_test_result) ng-repeat="version in test.values">{{version.y}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>
        <h4 align=center> <b> Graphs </b></h4>
        <br>
        <div ng-repeat="(key,score_type) in init_graph_all | limitTo:init_graph_all.length">
            <div ng-show=" score_type.list_ids.length !=0 ">
                <br>
                <br>
                <h4 align=center> Add title {{score_type.values[0].test_score_type}}</h4>
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 85% ">
                                <nvd3 options="options5[key] " data=score_type.values id='chart_svg_{{key}}'></nvd3>
                            </td>
                            <td style="width: 15% ">
                                <div id="checkbox-{{key}} ">
                                    <div ng-repeat=" (key2,test_code) in score_type.list_ids " class=checkbox>
                                        <label> <input id="check-{{key}}-{{test_code}} " type="checkbox" >{{test_code}}
                             </label>

                                    </div>
                                </div>
                                <br>
                                <a class="button-MC " class="btn btn-primary " ng-click=updateGraph(key)>Update graph</a>
                            </td>
                        </tr>
                    </tbody>

                </table>



                <br>
                <br>
                <table ng-show="line_result_focussed[key] && line_result_focussed[key]!=0 " class="table " style="border-top: none; ">

                    <td id="td-clicked-results ">

                        <table id="model_table " class="table ">

                            <h3 align=center> Selection </h3>

                            <thead>
                                <th align=center>Test</th>
                                <th align=center>Results storage</th>
                                <th align=center>Normalized Score</th>
                                <th align=center>Score</th>
                                <th align=center>Passed</th>
                                <th align=center>Time</th>
                                <th align=center>Platform</th>
                                <th align=center>Project</th>
                            </thead>

                            <tbody>

                                <tr class=tr-clickable id=" " ng-repeat="result in line_result_focussed[key] track by $index " ng-click="Context.validation_goToResultDetailView(result.id) ">
                                    <td>{{ result.line_id }}</td>
                                    <td>{{ result.results_storage }}</td>
                                    <td>{{ result.normalized_score }}</td>
                                    <td>{{ result.score }}</td>
                                    <td>{{ result.passed }}</td>
                                    <td>{{ result.timestamp }}</td>
                                    <td>{{ result.platform }}</td>
                                    <td>{{ result.project }}</td>


                                </tr>
                            </tbody>
                        </table>
                    </td>

                </table>
            </div>
        </div>
    </div>

</body>

</html>