<html id="model-list">
<nav class="navbar">
    <br>
    <button class="button-MC" ng-click="Context.validation_goToHomeView();">Home</button>&ensp;

    <h1 align=center> Test catalog</h1>
</nav>
<nav>
    <table>
        <tr>
            <td>
                <label> Search :  <input id="search_model"  ng-model='search.$'> </label>
            </td>

            <td>
                <multiselect ng-model="selected_species" placeholder="Select species" options="collab_species"></multiselect>
            </td>
            <td>
                <multiselect ng-model="selected_brain_region" placeholder="Select brain region" options="collab_brain_region"></multiselect>
            </td>
            <td>
                <multiselect ng-model="selected_cell_type" placeholder="Select cell type" options="collab_cell_type"></multiselect>
            </td>
            <td>
                <multiselect ng-model="selected_data_modalities" placeholder="Select data modality" options="collab_data_modalities"></multiselect>
            </td>
            <td>
                <multiselect ng-model="selected_test_type" placeholder="Select test type" options="collab_test_type"></multiselect>
            </td>
            <td>
                <select id="sorting_option" placeholder="Sorting options" class="form-control" ng-model="selected_sorting_option">
                        <option value="">Sorting options</option>
                        <option value="-creation_date ">Sorting: Newest first</option>
                        <option value="creation_date ">Sorting: Oldest first</option>
                    </select>
            </td>
            <td> <a class="button-MC" ng-href="#home/validation_test/create" ng-show="is_collab_member" class="btn btn-primary">New test</a></td>


        </tr>
    </table>
    <br>

</nav>

<body>
    <table id="test_table" class="table">
        <thead>
            <th>Name</th>
            <th>Alias</th>
            <th>Species</th>
            <th>Age</th>
            <th>Brain region</th>
            <th>Cell type</th>
            <th>Data location</th>
            <th>Data type</th>
            <th>Data modality</th>
            <th>Test type</th>
            <th>Author</th>
            <th>Publication</th>
        </thead>

        <tbody>
            <tr class="tr-clickable" ng-repeat="test in tests.tests | filter:search | filterMultiple:{species:selected_species, brain_region:selected_brain_region, cell_type:selected_cell_type, data_modality:selected_data_modalities, test_type:selected_test_type} | orderBy: selected_sorting_option"
                ng-click="Context.validation_goToTestDetailView(test.id) ">

                <td>{{ test.name }}</td>
                <td>{{ test.alias }}</td>
                <td>{{ test.species }}</td>
                <td>{{ test.age }}</td>
                <td>{{ test.brain_region }}</td>

                <td>{{ test.cell_type }}</td>
                <td>{{ test.data_location }}</td>

                <td>{{ test.data_type }}</td>
                <td>{{ test.data_modality }}</td>
                <td>{{ test.test_type }}</td>
                <td>{{ test.author }}</td>
                <td>{{ test.publication }}</td>
            </tr>

        </tbody>
    </table>
</body>

</html>