<html id="validation-help">
<nav class="navbar">
    <br>
    <button class="button-MC" ng-click="Context.validation_goToHomeView();"> Home</button>&ensp;

    <h1 align=center> Help on the Validation framework </h1>
</nav>
</br>
</br>
<h3>How to use the validation framework?</h3>
</br>
All information about how to use the validation framework is on the<a target="_blank" href=https://lbologna.github.io/hbp-sp6-guidebook/reference/validation_app.html> HBP Brain Simulation Platform Guidebook</a>.
</br>
</br>
<h3> Contact </h3>
</br>

<ul>
    <li>helissande.fragnaud@unic.cnrs-gif.fr</li>
    <li>shailesh.appukuttan@unic.cnrs-gif.fr</li>
</ul>


</br>

</html>