<html id="model-detail">

<body>

    <header>
        <nav class="navbar ">
            <br>

            <button class="button-MC" ng-click="Context.validation_goToHomeView();">Home</button>&ensp;

            <h1 align=center>{{ model.models[0].name}}</h1>
            <h3 align=center> Author(s): {{ formatAuthors(model.models[0].author) }}</h3>
        </nav>
    </header>

    <br>
    <div id=VF-model-detail>
        <panel class=caracteristics-panel-validation>
            <h4 align=center> <b>  Model information </b></h4>
            <br>
            <table class="table-create">
                <tbody>
                    <tr style="width: 15%">
                        <td> <b> ID: </b> {{model.models[0].id}} </td>
                    </tr>
                    <tr style="width: 15%" ng-if="model.models[0].alias && model.models[0].alias!=''">
                        <td> <b>Alias: </b> {{ model.models[0].alias}}</td>
                    </tr>
                    <tr style="width: 15%" ng-if="model.models[0].organization && model.models[0].organization!='' && model.models[0].organization!='<<empty>>'">
                        <td> <b> Organization: </b> {{ model.models[0].organization }} </td>
                    </tr>
                    <tr style="width: 15%" ng-if="model.models[0].project && model.models[0].project!=''">
                        <td> <b> Project: </b> {{ model.models[0].project }} </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table-create">
                <tbody>
                    <tr style="width: 15%" ng-if="model.models[0].species!=''">
                        <td><b> Species: </b> {{ model.models[0].species }} </tr>
                    <tr style="width: 15%" ng-if="model.models[0].brain_region!=''">
                        <td> <b> Brain region: </b> {{ model.models[0].brain_region }}</td>
                    </tr>
                    <tr style="width: 15%" ng-if="model.models[0].model_scope!=''">
                        <td><b> Model scope: </b> {{ model.models[0].model_scope }} </td>
                    </tr>
                    <tr style="width: 15%" ng-if="model.models[0].abstraction_level!=''">
                        <td><b> Abstraction level: </b> {{ model.models[0].abstraction_level }} </td>
                    </tr>
                    <tr style="width: 15%" ng-if="model.models[0].cell_type!=''">
                        <td> <b> Cell type: </b> {{ model.models[0].cell_type }}</td>
                    </tr>
                </tbody>
            </table>
        </panel>

        <panel class=description-panel-validation>
            <h4 align=center> <b>Model Description</b> </h4>
            <br>
            <table class="table-create">
                <tbody>
                    <tr>
                        <div textTruncate="truncate" markdown="model.models[0].description"></div>
                        <button class=linkbutton align=right text-align=right type="button" ng-click="validation_goToModelCatalog(model.models[0])"> (more details on model catalog)</button>
                        <br><br>
                    </tr>
                </tbody>
            </table>
        </panel>
        <panel class="panel-result">
            <div id='panel-no-results' ng-if="init_graph.length == 0">
                <h3 align=center> No result available for this model </h3>
            </div>
            <br>
            <br>


            <div id=panel-results ng-if="init_graph.length != 0">
                <h4 align=center> <b>  Results </b></h4>
                <br>
                <div id=VF-model-table-all-data>
                    <!--<div style="height:30px;overflow:auto;">-->
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan=1>
                                    test id | model version
                                </th>
                                <th colspan=2 ng-repeat="version in model.models[0].instances">
                                    {{version.version}}
                                </th>
                            </tr>

                            <tr>
                                <th colspan=1></th>
                                <th class=th-td-limited-size ng-repeat-start="version in model.models[0].instances">
                                    score
                                </th>
                                <th class=th-td-limited-size ng-repeat-end="version in model.models[0].instances">
                                    <span>date </span>
                                </th>
                            </tr>


                        </thead>
                        <tbody>
                            <tr ng-repeat="test_code in data_for_table.test_codes">
                                <td class=tr-clickable ng-mousedown="Context.goToTestDetailView($event, test_code.test_id)">test #{{test_code.line_id}}</td>
                                <td colspan=2 ng-repeat="model_instance in test_code.model_instances">

                                    <div ng-if="model_instance.results.length <= 3">


                                        <table>
                                            <thead> </thead>

                                            <tbody>
                                                <tr ng-repeat="(key, result) in model_instance.results">
                                                    <td class="th-td-limited-size tr-clickable VF-table-result-td-margin-right" ng-mousedown="Context.goToResultDetailView($event, result.id)">

                                                        <div ng-if=" key==0 ">
                                                            <b precision=result.score> </b>

                                                        </div>
                                                        <div ng-if="key !=0 " precision=result.score>

                                                        </div>
                                                    </td>

                                                    <td class=" th-td-limited-size VF-table-result-td-margin-left ">
                                                        <div ng-if="key==0 ">
                                                            <b> {{result.timestamp  | date:'dd/MM/yyyy, hh:mm' : 'UTC' }} </b>
                                                        </div>
                                                        <div ng-if="key !=0 ">
                                                            {{result.timestamp | date:'dd/MM/yyyy, hh:mm' : 'UTC' }}
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div ng-if="model_instance.results.length> 3" style="height:75px;overflow:auto;">
                                        <table>
                                            <thead> </thead>

                                            <tbody>
                                                <tr ng-repeat="(key, result) in model_instance.results">
                                                    <td class="th-td-limited-size tr-clickable VF-table-result-td-margin-right" ng-click=Context.goToResultDetailView($event,result.id)>
                                                        <div ng-if="key == 0">
                                                            <b precision=result.score> </b>

                                                        </div>
                                                        <div ng-if="key != 0" precision=result.score>

                                                        </div>
                                                    </td>

                                                    <td class="th-td-limited-size VF-table-result-td-margin-left">
                                                        <div ng-if="key == 0">
                                                            <b> {{result.timestamp  | date:'dd/MM/yyyy, hh:mm' : 'UTC' }} </b>
                                                        </div>
                                                        <div ng-if="key != 0">
                                                            {{result.timestamp | date:'dd/MM/yyyy, hh:mm' : 'UTC' }}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>



                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <br>
            <br>
            <br>
            <div ng-if="init_graph.length != 0">
                <h4 align=center> <b> Graphs </b></h4>
                <br>
            </div>
            <div ng-repeat="(key,score_type) in init_graph_all | limitTo:init_graph_all.length">
                <div ng-show=" score_type.values.list_ids.length !=0 && is_graph_not_empty(score_type) ">
                    <br>
                    <br>
                    <h4 align=center> {{score_type.values.values[0].test_score_type}}</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td style="width: 85% ">
                                    <nvd3 options="options5[key] " data=score_type.values.values id='chart_svg_{{key}}'></nvd3>
                                </td>
                                <td style="width: 15% ">
                                    <div id="checkbox-{{key}} ">
                                        <div ng-repeat=" (key2,test_code) in score_type.values.list_ids " class=checkbox>
                                            <label> <input id="check-{{key}}-{{test_code}} " type="checkbox" >{{test_code}}
                             </label>

                                        </div>
                                    </div>
                                    <br>
                                    <a class="button-MC " class="btn btn-primary " ng-click=updateGraph(key)>Update graph</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>



                    <br>
                    <br>
                    <table ng-show="line_result_focussed[key] && line_result_focussed[key]!=0 " class="table " style="border-top: none; ">

                        <td id="td-clicked-results ">

                            <table id="model_table " class="table ">

                                <h3 align=center> Selection </h3>

                                <thead>
                                    <th align=center>Test</th>
                                    <th align=center>Results storage</th>
                                    <th align=center>Normalized Score</th>
                                    <th align=center>Score</th>
                                    <th align=center>Passed</th>
                                    <th align=center>Time</th>
                                    <th align=center>Platform</th>
                                    <th align=center>Project</th>
                                </thead>

                                <tbody>

                                    <tr class=tr-clickable id=" " ng-repeat="result in line_result_focussed[key] track by $index " ng-click="Context.validation_goToResultDetailView(result.id) ">
                                        <td>{{ result.line_id }}</td>
                                        <td>{{ result.results_storage }}</td>
                                        <td><span precision=result.normalized_score></span></td>
                                        <td> <span precision=result.score></span></td>
                                        <td>{{ result.passed }}</td>
                                        <td>{{ result.timestamp | date:'d MMMM yyyy, hh:mm' : 'UTC'}}
                                            <!--<time datetime="{{ result.timestamp | date:'d MMMM yyyy, hh:mm' : 'UTC'}}"></time>-->
                                        </td>
                                        <td>{{ result.platform }}</td>
                                        <td>{{ result.project }}</td>


                                    </tr>
                                </tbody>
                            </table>

                        </td>

                    </table>
                </div>
            </div>
        </panel>
    </div>

</body>

</html>