<div ng-app="testApp">



<div ng-controller="MyCtrl">
       
         <table>

          <td><label>Species : </label></td>
          <td style="width: 150px">
<select multiple="multiple" ng-model="selectedSp" ng-options="emp.species as emp.species for emp in empList | unique:'species'"></select>
          </td>
            
           
          <td><label>Brain region : </label></td>
          <td style="width: 150px">
<select multiple="multiple" ng-model="selectedBr" ng-options="emp.brain_region as emp.brain_region for emp in empList | filterMultiple:{species:selectedSp,brain_region:selectedBr}"></select>                     
          </td>
           
        
          <td><label>Cell type : </label></td>
          <td style="width: 150px">
<select multiple="multiple" ng-model="selectedCt" ng-options="emp.cell_type as emp.cell_type for emp in empList | filterMultiple:{species:selectedSp,brain_region:selectedBr,cell_type:selectedCt}"></select>
          </td>
          
             
          <td><label>Model type : </label></td>
          <td style="width: 150px">
<select multiple="multiple" ng-model="selectedMt" ng-options="emp.model_type as emp.model_type for emp in empList | filterMultiple:{species:selectedSp,brain_region:selectedBr,cell_type:selectedCt,model_type:selectedMt}"></select>                     
          </td>
          
          <td>
            <button  ng-click="reloadPage();">Reset</button>
          </td>

        </table>
        


<h4>Selection</h4>
    <table class="table empTable table-bordered">
        <thead>
           
                <th>Species</th>
                <th>Brain region</th>
                <th>Cell type</th>
                <th>Model type</th>
           
           </thead>

        <tbody>
        <tr ng-repeat="emp in empList | filterMultiple:{species:selectedSp,brain_region:selectedBr,cell_type:selectedCt,model_type:selectedMt}">             
                <td>{{emp.species}}</td>
                <td>{{emp.brain_region}}</td>
                <td>{{emp.cell_type}}</td>
                <td>{{emp.model_type}}</td>
            </tr>
        </tbody>
    </table>
       
    </div>



</div> <!-- End of ng-app="testApp" -->

