 {% extends 'base.html' %} {% load markup %} {% block content %}
<div class="navbar ">
    <a href=".">back</a>
    <h1 style="text-align:center;"> Model: {{object.name}}</h1>
</div>
<br>
<br>
<br>

<table class="table table-striped">
    <th>
        <a href="edit/{{object.id}}"><button class="btn btn-info">Edit model</button></a>
        <a href="new_version/{{object.id}}?modelID={{object.id}}"><input class="btn btn-info" name="modelID" value="Add a new version"></a>
    </th>
</table>
<br>
<br>
<table class="table" style="border: 1px solid #f4f8ff;">
    <tbody>
        <tr>
            <td> <b> Model type:</b> {{ object.model_type }} </td>
            <td> <b> Species:</b> {{ object.species }} </td>
            <td> <b> Brain region:</b> {{ object.brain_region }} </td>
            <td> <b> Cell type:</b> {{ object.cell_type }} </td>
        </tr>
    </tbody>
</table>

<br>
<table class="table">
    <thead>
        <tr style="border: white;">
            <td style="width: 100px;"><b> Author(s): </b> </td>
            <td>{{ object.author }}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 100px"><b> Description: </b></td>
            <td style="border: 1px solid lightgrey; height:20%">{{ object.description|markdown }}</td>
        </tr>
    </tbody>
</table>
<br>
<br>
<h2>Model versions</h2>
<table class="table">
    <thead>
        <tr>
            <th>Version</th>
            <th>Parameters</th>
            <th>Code location</th>
        </tr>
    </thead>
    <tbody>
        {% for model_instance in object.instances.all %}
        <tr>
            <td>{{ model_instance.version }}</td>
            <td><pre>{{ model_instance.parameters }}</pre></td>
            <td>{{ model_instance.source|urlize }}</td>
            {% endfor %}
    </tbody>
</table>

{% endblock %}