{% extends 'base.html' %} {% load markup %} {% load jsonify %} {% block content %}

<h1>Config View</h1>
<p><a href=".">back</a></p>

<form action="" class="Config-View-form" method="POST">
    <table class="table table-condensed">
        {% csrf_token %} {{ form.non_field_errors }} 
        <tbody>
            <tr>
                <td>
                    {{ form.species.label_tag }}
                </td>
                <td>
                    {{ form.species }}
                    <p class="help-text">{{ form.species.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.brain_region.label_tag }}
                </td>
                <td>
                    {{form.brain_region}}
                    <p class="help-text">{{ form.brain_region.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.cell_type.label_tag }}
                </td>
                <td>
                    {{form.cell_type}}
                    <p class="help-text">{{ form.cell_type.errors }}</p>
                </td>
            </tr>
            <tr>
                <td>
                     {{ form.model_type.label_tag }}
                </td>
                <td>
                     {{form.model_type}}
                     <p class="help-text">{{ form.model_type.errors }}</p>
                </td>
             </tr>
        </tbody>
        </table>
        </tbody>
    </table>
    <br/>

    <div class="navbar navbar-form">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}