<html id="model-detail" ng-controller="ModelCatalogDetailCtrl">

<head>
    <nav class="navbar ">
        <h1 align=center> Model: {{ model.models[0].name}} (ID:{{ model.models[0].id }})</h1>
        <h3 align=center> Authors: {{ model.models[0].author }}</h3>
    </nav>
</head>

<body>
    <nav>
        <a ng-href="#/model-catalog/" class="button-MC">Home </a> &ensp;
        <a ng-href="#/model-catalog/edit/{{model.models[0].id}}" class="button-MC">Edit</a>&ensp;
        <a ng-href="#/model-catalog/version/{{model.models[0].id}}" class="button-MC">New version</a>&ensp;
    </nav>
    <br>
    <br>

    <table class="table-create">
        <tbody>
            <tr>
                <td> <b> Model type:</b> {{ model.models[0].model_type }} </td>
                <td> <b> Species:</b> {{ model.models[0].species }} </td>
                <td> <b> Brain region:</b> {{ model.models[0].brain_region }} </td>
                <td> <b> Cell type:</b> {{ model.models[0].cell_type }} </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table-create">
        <thead>
        </thead>
        <tbody>
            <tr>
                <b> Description: </b> <br><br>
                <div markdown="model.models[0].description"></div>
                <br><br>
            </tr>
            <tr>
                <div class="group" ng-repeat="img in model.model_images track by $index">
                    <figure>
                        <button ng-click='toggleSize($index, img)'><img id="image-$index"  ng-src="{{img.url}}" width="304" height="228"> </button>
                        <figcaption id=figcaptionDetail>{{img.caption}}</figcaption> <br>
                    </figure>
                </div> &ensp;

            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h2>Model versions</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Version</th>
                <th>Parameters</th>
                <th>Code location</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="model_instance in model.model_instances">
                <td>{{ model_instance.version }}</td>
                <td><pre>{{ model_instance.parameters }}</pre></td>
                <td>{{ model_instance.source }}</td>
        </tbody>
    </table>

    <div class=" w3-card-4  w3-hover-shadow ng-cloak" id="ImagePopupDetail">
        <style>
            .ng-cloak {
                display: none !important;
            }
        </style>
        <div class="panel-heading"> <button id="close-button" type="button" class="glyphicon glyphicon-remove" ng-click="closeImagePanel()"></button></div>
        <div class="panel-body" class="imgwrapper">
            <figure id="ImagePopupDetailfig">
                <img class="img-fluid img-responsive" id=ImagePopupIm ng-src={{bigImage.url}}>
                <!--<img class=img-responsive id=ImagePopupIm ng-src="{{bigImage.url}}">-->
                <br>
                <figcaption markdown="bigImage.caption"></figcaption>
                <br>
            </figure>
        </div>
    </div>

</body>

</html>