<html id="model-list" ng-controller="ModelCatalogCtrl" >
<head>
    <!--<nav class="navbar navbar-form navbar-fixed-top">-->
     <nav class="navbar ">   
    <h1 align=center> Model Catalog</h1>
    </nav>
</head>
<body>
    <nav>
       
        <label> Search :  <input id="search_model"  ng-model='search.$'> </label> 
                
            <a class="button-MC" ng-href="#/model-catalog/create" class="btn btn-primary">New model </a>
        </nav>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Brain region</th>
            <th>Cell type</th>
            <th>Model type</th>
            <th>Author(s)</th>
        </tr>
    </thead>
    <tbody>
        <tr class="tr-clickable" ng-repeat="model in models.models | filter: search" ng-click="goToDetailView(model)">
            <td>{{ model.name }}</td>
            <td>{{ model.species }}</td>
            <td>{{ model.brain_region }}</td>
            <td>{{ model.cell_type }}</td>
            <td>{{ model.model_type }}</td>
            <td>{{ model.author }}</td>
        </tr>
    </tbody>
</table>
</body>
</html>