{% extends 'base.html' %} {% block content %}

<h1>Validation tests</h1>

<table class="table table-striped">
    <th>
        <!--<form class="form-inline pull-right">-->
         <form class="form-inline pull-left">   
            <input type="text" name="search" style="width:150px" class="form-control" placeholder="Search">
            <select id="model-list-select-search" class="form-control" name="search_cat" data-style="btn-primary"> <!-- onChange="window.location.href=this.value">-->
                <option value=""> Search by </option>
                <option value="name">Name</option>
                <option value="species">Species</option>
                <option value="age">Age</option>
                <option value="brain_region">Brain region</option>
                <option value="cell_type">Cell type</option>
                <option value="data_location">Data location</option>
                <option value="data_type">Data type</option>
                <option value="data_modality">Data modality</option>
                <option value="test_type">Test type</option>
                <option value="author">Author</option>
                <option value="publication">Publication</option>
            </select>
            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> </button>
        </form>
    </th>
  
        <th>
            <label for="model-list-select-1" class="col-sm-2 control-label nopadding" style="height:36px; padding-top:8px !important;">Filters : </label>

               <select id="model-list-select-1" data-style="btn-primary" onChange="window.location.href=this.value">                    
                    <option value=""> by species </option>
                    <!--
                    <option value="?species=mouse">Mouse</option>
                    <option value="?species=rat"  >Rat</option>
                    -->
                        {% for species in filters.species %}
                     <option value="?species={{species}}">{{species}}</option>
                        {% endfor %}
                </select>

                <select id="model-list-select-2" onChange="window.location.href=this.value">
                    <option value=""> by brain region </option>
                    <!--
                    <option value="?brain_region=cerebellum">Cerebellum</option>
                    <option value="?brain_region=hippocampus">Hippocampus</option>
                    <option value="?brain_region=basal">Basal Ganglia</option>
                    <option value="?brain_region=cortex">Cortex</option>
                    --> 
                        {% for region in filters.brain_region %}
                     <option value="?brain_region={{region}}">{{region}}</option>   
                        {% endfor %}
                </select>

                <select id="model-list-select-3" onChange="window.location.href=this.value">
                    <option value=""> by cell type </option>
                    <!--
                    <option value="?cell_type=pyramidal">Pyramidal Cell</option>
                    <option value="?cell_type=interneuron">Interneuron</option>
                    <option value="?cell_type=granule">Granule Cell</option>
                    -->
                        {% for cell in filters.cell_type %}
                    <option value="?cell_type={{cell}}">{{cell}}</option>
                        {% endfor %}
               </select>

            <a href="."><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </th>
   
    <th>
        <a href="create"><button class="btn btn-info">Add new test</button></a>
    </th>
</table>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Age</th>
            <th>Brain region</th>
            <th>Cell type</th>
            <th>Data location</th>
            <th>Data type</th>
            <th>Data modality</th>
            <th>Test type</th>
            <th>Code location</th>
            <th>Author</th>
            <th>Publication</th>







        </tr>

    </thead>
    <tbody>
        {% for test in object_list %}
        <tr>
            <td><a href="{{test.id}}">{{ test.name }}</a></td>
            <td>{{ test.species }}</td>
            <td>{{ test.age }}</td>
            <td>{{ test.brain_region }}</td>
            <td>{{ test.cell_type }}</td>
            <td>{{ test.data_location|urlizetrunc:20 }}</td>
            <td>{{ test.data_type }}</td>
            <td>{{ test.get_data_modality_display }}</td>
            <td>{{ test.get_test_type_display }}</td>
            <td>{{ test.get_latest_code.repository|urlizetrunc:20 }}</td>
            <td>{{ test.author }}</td>
            <td>{{ test.publication }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}