{% extends 'base.html' %} {% load markup %} {% block content %}

<h1>Edit Test: {{object.name}}</h1>
<p><a href="..">back</a></p>

<form action="" class="validation-test-definition-form" method="POST">
    <table class="table table-condensed">
        {% csrf_token %} {{ form.non_field_errors }} {{form.errors}}
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ object.id }}</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td> {{form.name}}</td>
                <p class="help-text">{{ form.name.errors }}</p>
            </tr>
            <tr>
                <td>Species</td>
                <!--<td>{{ object.species }}</td>-->
                <td display:none>{{ form.species }}</td>
            </tr>
            <tr>
                <td>Brain region</td>
                <!--<td>{{ object.brain_region }}</td>-->
                <td display:none>{{ form.brain_region }}</td>
            </tr>
            <tr>
                <td>Cell type</td>
                <!--<td>{{ object.cell_type }}</td>-->
                <td display:none>{{ form.cell_type }}</td>
            </tr>
            <tr>
                <td>Code location</td>
                <!--<td>{{ object.source|urlize }}</td>-->
                <td display:none>{{ form.source}}</td>
            </tr>
            <tr>
                <td>Author(s)</td>
                <td>{{ form.author }}</td>
                <p class="help-text">{{ form.author.errors }}</p>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ form.description|markdown }}</td>
                <p class="help-text">{{ form.description.errors }}</p>
            </tr>
        </tbody>


    </table>

    <div class="navbar navbar-form">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}