{% extends 'base.html' %} {% load markup %} {% load jsonify %} {% block content %}

<h1>Create new Model</h1>
<p><a href=".">back</a></p>

<form action="" class="scientific-model-form" method="POST">
    <table class="table table-condensed">
        {% csrf_token %} {{ form.non_field_errors }}
        <tbody>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                {{ form.name.label_tag }}
                            </td>
                            <td>
                                {{ form.name }}
                                <p class="help-text">{{ form.name.errors }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.author.label_tag }}
                            </td>
                            <td>
                                {{form.author}}
                                <p class="help-text">{{ form.author.errors }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.description.label_tag }}
                            </td>
                            <td>
                                {{form.description}}
                                <p class="help-text">{{ form.description.errors }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                {{ form.species.label_tag }}
                            </td>
                            <td>
                                {{ form.species }}
                                <p class="help-text">{{ form.species.errors }}</p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                {{ form.brain_region.label_tag }}
                            </td>
                            <td>
                                {{form.brain_region}}
                                <p class="help-text">{{ form.brain_region.errors }}</p>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                {{ form.cell_type.label_tag }}
                            </td>
                            <td>
                                {{form.cell_type}}
                                <p class="help-text">{{ form.cell_type.errors }}</p>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                {{ form.model_type.label_tag }}
                            </td>
                            <td>
                                {{form.model_type}}
                                <p class="help-text">{{ form.model_type.errors }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form_instance.source.label_tag }}
                            </td>
                            <td>
                                {{form_instance.source}}
                                <p class="help-text">{{ form_instance.source.errors }}</p>
                            </td>
                        </tr>
                        <tr>
                            <tr>
                                <td>
                                    <b>Version name</b>
                                </td>
                                <td>
                                    {{form_instance.version}}
                                    <p class="help-text">{{ form_instance.version.errors }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.private.label_tag }}
                                </td>
                                <td>
                                    {{form.private}}
                                    <p class="help-text">{{ form_instance.private.errors }}</p>
                                </td>
                                {{form.access_control}}
                            </tr>
                    </tbody>
                </table>
        </tbody>
    </table>
    <br/>

    <div class="navbar navbar-form">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}