{% extends 'base.html' %}{% load markdown_deux_tags %} {% block content %}


<!--Need to put all this outside-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>





<h1>Validation test: {{object.name}}</h1>
<p><a href=".">back</a></p>




<ul class="nav nav-pills">
    <li class="active"><a href="#tab-Description" data-toggle="tab">Description</a></li>
    <li><a href="#tab-Version" data-toggle="tab">Version</a></li>
    <li><a href="#tab-Results" data-toggle="tab">Results</a></li>
    <li><a href="#tab-Comments" data-toggle="tab">Comments</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab-Description">
        <!--<table class="table table-striped">
    <th>
        {# <a href="edit/{{object.id}}"><button class="btn btn-info">Edit test</button></a>  #}
    </th>
</table>-->

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ test.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ test.name }}</td>
                </tr>
                <tr>
                    <td>Species</td>
                    <td>{{ test.species }}</td>
                </tr>
                <tr>
                    <td>Brain region</td>
                    <td>{{ test.brain_region }}</td>
                </tr>
                <tr>
                    <td>Cell type</td>
                    <td>{{ test.cell_type }}</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{ test.age }}</td>
                </tr>
                <tr>
                    <td>Data location</td>
                    <td>{{ test.data_location|urlize }}</td>
                </tr>
                <tr>
                    <td>Data type</td>
                    <td>{{ test.data_type }}</td>
                </tr>
                <tr>
                    <td>Data modality</td>
                    <td>{{ test.get_data_modality_display }}</td>
                </tr>
                <tr>
                    <td>Test type</td>
                    <td>{{ test.get_test_type_display }}</td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td>{{ test.author }}</td>
                </tr>
                <tr>
                    <td>Publication</td>
                    <td>{% if formatted_publication %}{{ formatted_publication|urlize }}{% else %}{{ test.publication }}{% endif %}</td>
                </tr>
                <tr>
                    <td>Protocol</td>
                    <td>{{ test.protocol }}</td>
                </tr>
            </tbody>
        </table>
    </div>



    <div class="tab-pane" id="tab-Version">
        <h2>Code versions</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th>Version</th>
                    <th>Test class</th>
                    <th>Date/time</th>
                </tr>
            </thead>
            <tbody>
                {% for code_obj in validation_code.all %}
                <tr>
                    <td>{{ code_obj.repository|urlize }}</td>
                    <td>{{ code_obj.version }}</td>
                    <td><code>{{ code_obj.path }}</code></td>
                    <td>{{ code_obj.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




    <div class="tab-pane" id="tab-Results">
        Some results
    </div>




    <div class="tab-pane" id="tab-Comments">

        <main class="comment" ng-controller="CommentForm" onsubmit="return false">

            <div class="panel-heading">
                <h3 class="panel-title" id="title-commment"> Comments </h3>
            </div>

            {% for cmt in comment.all %}
            <div id='CommentToShow-{{cmt.pk}}'>

                <table class="table table-striped table-condensed">
                    <div class="comment">
                        <tbody>
                            <tr id="table-ticket-detail-comment">
                                <td width=200>
                                    <span class="glyphicon glyphicon-user"></span> {{ cmt.author }}
                                </td>
                                <td width=1000>
                                </td>
                                <td width=300>
                                    {{ cmt.creation_date}}
                                </td>
                                <td width=50>

                                    <form action="" class="Commentform" ng-controller="CommentForm" onsubmit="return false">
                                        {% if cmtt.is_author %}
                                        <button type=button class="glyphicon glyphicon-pencil" ng-click="editComment({{comment.pk}})"> </button> {%endif%}
                                    </form>

                                </td>
                            </tr>

                            <tr id="table-ticket-detail-comment-content">
                                <td width=200>
                                </td>
                                <td width=1000 id='editable-text-{{comment.pk}}' contenteditable="false">
                                    <br/> {{ cmt.text|markdown }}
                                </td>
                                <td width=300>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </table>

                <div id='panelForButtonSave-{{cmt.pk}}'>
                </div>
            </div>

            {% endfor %}

        </main>

        <main action="" class="commentForm" method="POST">
            <form action="" class="comment-form" method="POST">
                <div class="comment-form-fields">

                    {% csrf_token %} {{ form.non_field_errors }}

                    <div class="form-group form-group-editor">
                        <h4> Add a comment </h4>
                        <p id="CommentTextbox"> {{form.text}} </p>
                        <p class="help-text">{{ form.text.errors }}</p>
                    </div>
                </div>

                <div class="navbar navbar-form">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </main>



    </div>

</div>











{% endblock %}