{% extends 'base.html' %} {%load static%} {% block content %}

<h1>Model catalog</h1>


<table class="table table-striped">
    <th>
        <form class="form-inline pull-right">

            <input type="text" name="search" style="width:150px" class="input-sm form-control" placeholder="Search">

            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> </button>

        </form>
    </th>
    <th>Filters:
        <select id="model-list-select" data-style="btn-primary" onChange="window.location.href=this.value">
            <option value=""> by species </option>
            <option value="?species=mouse">Mouse</option>
            <option value="?species=rat"  >Rat</option>

        </select>
        <select id="model-list-select" onChange="window.location.href=this.value">
            <option value=""> by brain region </option>
            <option value="?brain_region=cerebellum">Cerebellum</option>
            <option value="?brain_region=hippocampus">Hippocampus</option>
            <option value="?brain_region=basal">Basal Ganglia</option>
            <option value="?brain_region=cortex">Cortex</option>
        </select>
        <select id="model-list-select" onChange="window.location.href=this.value">
            <option value=""> by cell type </option>
            <option value="?cell_type=pyramidal">Pyramidal Cell</option>
            <option value="?cell_type=interneuron">Interneuron</option>
            <option value="?cell_type=granule">Granule Cell</option>
        </select>
        <a href="."><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    </th>

    <th>
        <a href="create"><button class="btn btn-info">New model</button></a>
    </th>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Brain region</th>
            <th>Cell type</th>
            <th>Code location</th>
            <th>Author(s)</th>
        </tr>
    </thead>
    <tbody>
        {% for model in object_list %}
        <tr>
            <td><a href="{{model.id}}">{{ model.name }}</a></td>
            <td>{{ model.species }}</td>
            <td>{{ model.brain_region }}</td>
            <td>{{ model.cell_type }}</td>
            <td>{{ model.source|urlizetrunc:50 }}</td>
            <td>{{ model.author }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}