{% extends 'base.html' %} {%load static%} {% block content %}

<h1>Model catalog</h1>


<table class="table table-striped">
    <th>
<!--        <form class="form-inline pull-right">-->
       
        <form class="form-inline pull-left">    

            <input type="text" name="search" style="width:150px" class="input-sm form-control" placeholder="Search">

            <select id="model-list-select-search" class="form-control" name="search_cat" data-style="btn-primary">
                <option value=""> Search by </option>
                <option value="name">Name</option>
                <option value="species">Species</option>
                <option value="brain_region">Brain region</option>
                <option value="cell_type">Cell type</option>
                <option value="data_location">Code location</option>
                <option value="author">Author</option>
            </select>
            
            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> </button>

        </form>
    </th>
    <th>Filters:
        <select id="model-list-select" data-style="btn-primary" onChange="window.location.href=this.value">
            <option value=""> by species </option>
            {% for species in filters.species %}
            <option value="?species={{species}}">{{species}}</option>
            {% endfor %}
        </select>
        <select id="model-list-select" onChange="window.location.href=this.value">
            <option value=""> by brain region </option>
            {% for region in filters.brain_region %}
            <option value="?brain_region={{region}}">{{region}}</option>
            {% endfor %}
        </select>
        <select id="model-list-select" onChange="window.location.href=this.value">
            <option value=""> by cell type </option>
            {% for cell in filters.cell_type %}
            <option value="?cell_type={{cell}}">{{cell}}</option>
            {% endfor %}
        </select>
        <a href="."><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    </th>

    <th>
        <a href="create"><button class="btn btn-info">New model</button></a>
        <a href="new_version/"><button class="btn btn-info">New model version</button></a>
    </th>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Brain region</th>
            <th>Cell type</th>
            <th>Code location</th>
            <th>Author(s)</th>
        </tr>
    </thead>
    <tbody>
        {% for model in object_list %}
        <tr>
            <td><a href="{{model.id}}">{{ model.name }}</a></td>
            <td>{{ model.species }}</td>
            <td>{{ model.brain_region }}</td>
            <td>{{ model.cell_type }}</td>
            <td>{{ model.source|urlizetrunc:50 }}</td>
            <td>{{ model.author }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}