 {% extends 'base.html' %} {% block content %}

<h1>Validation test: {{test.name}}</h1>
<p><a href="..">back</a></p>

<div class="topnav" id="myTopnav">
    <a href="../description/{{test.id}}">Description</a>
    <a href="../version/{{test.id}}">Version</a>
    <a href="../results/{{test.id}}">Results</a>
    <a href="../comments/{{test.id}}">Comments</a>

</div>



<h2>Code versions</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Repository</th>
            <th>Version</th>
            <th>Test class</th>
            <th>Date/time</th>
        </tr>
    </thead>
    <tbody>
        {# {% for code_obj in object.code.all %} #} {% for code_obj in object %}
        <tr>
            <td>{{ code_obj.repository|urlize }}</td>
            <td>{{ code_obj.version }}</td>
            <td><code>{{ code_obj.path }}</code></td>
            <td>{{ code_obj.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}