{% extends 'base.html' %} {% block content %}

<h1>Home Validation</h1>

<div ng-app="myApp">
    <a href="https://127.0.0.1:8000/view/validation/home/#/home">Home</a><br />
    <a href="https://127.0.0.1:8000/view/validation/home/#/home/validation_test">Validation test</a><br />
    <a href="https://127.0.0.1:8000/view/validation/home/#/home/test_result">Test result</a><br />
</div>
<tr>
    <h2>list tests</h2>
    {% for test in tests %}
    <p>{{test.name}} </p> {% endfor %} </tr>
<br />
<br />
<h2>list models</h2>
<tr>{% for model in models %}
    <p>{{model.name}} </p> {% endfor %}</tr>

{% endblock %}

